*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form {

}

.up {

}

.up_left {

}

.surname {

}

.surname_label {

}

.surname_input {

}

.givenname {

}

.givenname_input {

}

.title {

}

.title_label {

}

.title_input {

}

.up_right {

}

.upload {

}

.down {

}

.gender_wrapper {

}

.gender {

}

.mid {

}

.dob {

}

.dob_label {

}

.dob_input {

}

.country {

}

.surname_label {

}

.country_input {

}

.por {

}

.por_label {

}

.por_input {

}

.nationality {

}

.nationality_label {

}

.nationality_input {

}

.submit {

}

.submit_btn {
    
}